fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: config('base.units.small-spacing', $small-spacing) / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: config('base.units.small-spacing', $small-spacing) / 2;
}

input,
select,
textarea {
  display: block;
  font-family: config('base.font-family');
  font-size: config('base.font-size');
}

#{$all-text-inputs},
select[multiple] {
  background-color: config('base.background-color');
  border: config('base.border');
  border-radius: config('base.border-radius');
  box-shadow: config('base.form.box-shadow');
  box-sizing: border-box;
  margin-bottom: config('base.units.small-spacing', $small-spacing) / 2;
  padding: config('base.units.base-spacing', $base-spacing) / 3;
  transition: border-color config('base.units.duration') config('base.units.timing');
  width: 100%;

  &:hover {
    border-color: shade(config('base.border-color'), 20%);
  }

  &:focus {
    border-color: config('base.colors.action-color');
    box-shadow: config('base.form.box-shadow-focus');
    outline: none;
  }

  &:disabled {
    background-color: shade(config('base.background-color'), 5%);
    cursor: not-allowed;

    &:hover {
      border: config('base.border');
    }
  }

  &::placeholder {
    color: config('base.colors.medium-gray');
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: config('base.units.small-spacing', $small-spacing) / 2;
}

[type="file"] {
  margin-bottom: config('base.units.small-spacing', $small-spacing);
  width: 100%;
}

select {
  margin-bottom: config('base.units.small-spacing', $small-spacing);
  max-width: 100%;
  width: auto;
}

#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
